=content_for :head do
	= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAYQDEv0bZNaE9pQEZXOYQbaSVQ2grJ8fg&sensor=true"
=content_for :end_body do
	= javascript_include_tag 'views/tags/form'
.row
	%h2.col-md-10.col-sm-10= form_header
.row
	.col-md-6.col-sm-6#map-domain
		#map-canvas
	.col-md-3.col-sm-3
		= semantic_form_for atlas, :url => (atlas.new_record? ? atlases_path : atlas_path(organization.id, atlas.id)), :method => (atlas.new_record? ? 'post' : 'put') do |f|
			=f.inputs do
				=f.input :name, :label => false, :placeholder => 'Name'
				%li.label Use geographic filter?
				=f.input :geo_filter, :as => :boolean, :label => false
			=f.inputs do
				=f.semantic_fields_for tag do |r|
					=render :partial => '/tags/inputs', :locals => {:f => r, :organization => organization, :tag_types => tag_types, :realm => (realm || nil), :tag => tag}
				=f.submit :class => 'btn btn-sm btn-primary'
