.row
	.col-6
		%span.js-link#show_signin Sign In
	.col-6
		%span.js-link#show_signup	Sign Up
.row
	.col-12#signin_form
		= render :partial => "/users/sessions/form", :locals => {:resource => @user, :resource_name => :user}
	.col-12#signup_form.hide
		= render :partial => "/users/registrations/form", :locals => {:resource => @user, :resource_name => :user}		

=javascript_include_tag 'views/page/signin_signup'