%h1 PlaceTags
-if flash[:notice]
	%p.notice= flash[:notice]
-if current_user
	%p.organization_name= @organization.name
	-unless @organization.realm
		=render :partial => "/tags/form"
-else
	= render :partial => "signin_signup"