%h1#index-title Change Requests
%table
%thead
	%tr
		%td Tag
		%td User
		%td Created
		%td View

%tbody
	- @change_requests.each do |cr|
		%tr.change-request
			%td= cr.tag.name
			%td= cr.user.name
			%td= cr.created_at
			%td
				=link_to 'Edit', edit_admin_change_request_path(cr.id), :class => 'view'