.row
	%h1= @organization.name
-if flash[:notice]
	.row
		%p.text-warning= flash[:notice]
.row
	.col-md-6
	.col-md-6
		%h4 My organization's atlases
		%a.btn.btn-primary.btn-sm{:href => new_atlas_path(@organization.id)} Build new atlas
		%ul.list-unstyled
			- @atlases.each do |atlas|
				%li.atlas
					%a{:href => edit_atlas_path(@organization.id, atlas.id)}= atlas.name